<div class="row">
  <div class="col-md-6 col-md-offset-3 brand-well">
    
    <h2 class="text-center">Sign up</h2>

    <% if params[:plan] == '1' %>

      <h2 class="text-center" style="color: white;">One-time payment = $120</h2>

    <% else %>
      
      <h2 class="text-center" style="color: white;">12 monthly payments of $10</h2>

    <% end %>

    

    <br>
    <% if params[:plan] == '1' %>
      <%= render "bd_annual_form" %>
    <% else %>
      <%= render "bd_monthly_form" %>
    <% end %>
    <br>

    <%= render "devise/shared/links" %>
  </div>
</div>