<div class="jumbotron text-center">
	<h1>About Me</h1>
</div>

<h3 class="brand-well">

	<p>
		I am a body mechanic and social scientist. I've devoted the past 30 years to educating myself and others about the true path towards wellness. My programs teach you how to take better care of your body and improve cognitive function, mood and memory. Movement is nourishment for the body as well as the brain. With smaller movements, better technique and more frequency -- physical and mental health is more manageable. For me, teaching others to feel better is not just a vocation - it's my passion and a lifestyle.
	</p> 
	<hr>
	<p class="text-center">"When we feel better, we do better."</p>
	<hr>
	<p>I believe our life goal should be to feel a little better each day.</p>

	<p>
		To that end, I'm an <strong>E-RYT 500</strong> yoga teacher, a certified professional trainer, the creator of <strong>Yoga Vitamins</strong> <i class="fa fa-trademark" aria-hidden="true"></i>, <strong>Resort Yoga</strong> <i class="fa fa-trademark" aria-hidden="true"></i>, <strong>Heartbeat</strong> <i class="fa fa-trademark" aria-hidden="true"></i> and the <strong>Betti Pot</strong> <i class="fa fa-trademark" aria-hidden="true"></i>.
	</p>

</h3>
