<div class="jumbotron text-center">
	<h1>About Me</h1>
</div>

<h3 class="brand-well">

	I am a body mechanic and social scientist. I have devoted the past 30 years to educating myself and others about the true path towards wellness. My programs teach you how to take better care of your body and improve cognitive function, mood and memory. Movement is nourishment for the body as well as the brain. With smaller movements, better technique and more frequency --<strong> exercise is more manageable</strong>. For me, teaching others how to feel better is not just a vocation - it's my passion and a lifestyle. 
	<br>
	The goal for each day of our lives should be to feel better. When we feel better, we do better. 
	<br>
	I am an E-RYT 500 yoga teacher, a certified professional trainer, the creator of Yoga Vitamins tm, Resort Yoga tm, Heartbeat tm and the Betti Pot neti tm.

</h3>
