<div class="brand-well">
	<h1>Betti Pot</h1>
	<p>
		Insert <strong>Betti-Pot</strong> <i class="fa fa-trademark" aria-hidden="true"></i> Details Here
	</p> 
	<hr>
	<%= button_to 'Buy', betti_pot_path, class: 'btn btn-brand' %>

</div>