<div class="brand-well">
	<h1 class="text-center">Betti Pot</h1>
	<div class="row">
		<%= image_tag("bettipot-wellness-kit7.jpg", :class => 'product_img') %>

	</div>
	<br>
	<div class="row text-center">
		<h3>
			Description
		</h3>
	</div>
	<hr>
	<div class="text-center">
		<%= button_to 'Buy Now', betti_pot_path, class: 'btn btn-lg btn-buy' %>
	</div>
</div>