<div class="jumbotron text-center">
	<h1>Blue Dot Member Section</h1>
</div>

<h3 class="brand-well">

	<p><strong>This is where the Blue Dot (members only) content will show</strong></p> <br>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, molestias dolores sunt saepe dolor voluptas tempore minus eum ipsum similique iure commodi, labore nemo reiciendis iste accusamus quasi, architecto eligendi.</p>

	<br>
	<hr>
	<br>


	<%= button_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn btn-brand' %>
	  
	<br/>

 </h3>