<div class="jumbotron text-center">
	<h1>What is <strong>Blue Dot</strong>?</h1>
</div>

<h3 class="brand-well">

	<p><strong>This is a the section that describes the Blue Dot membership program.</strong></p> <br>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, molestias dolores sunt saepe dolor voluptas tempore minus eum ipsum similique iure commodi, labore nemo reiciendis iste accusamus quasi, architecto eligendi.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint repellat nisi, ad illo consectetur corporis possimus rem, quo natus corrupti! Voluptates quasi animi sunt minima molestiae eaque iure reiciendis nesciunt!</p>

	<br>

	<hr>

	<br>
	
	<% if current_user %>

		<%= button_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn btn-brand' %>
	<% else %>

		<label> Existing member?</label>
		<%= link_to 'Log In', new_user_session_path, class: 'btn btn-brand' %>
		  
		<br/>

		<label> Become a member?</label>
		<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-brand' %>

	<% end %>

	<br>


 </h3>